@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello mấy cưng</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, reprehenderit.</a>.</p>
</div>
